:root {
  --bg: #FFFFE7;
  --red: #d00000;
  --grey: #c2b3a8;
}

/* Fonts */

/* Quadrant */

@font-face {
    font-family: 'Quadrant Slab Duo';
    src:url('../fonts/quadrant/quadrantslab-duo/QuadrantSlabDuo-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quadrant Slab Duo';
    src:url('../fonts/quadrant/quadrantslab-duo/QuadrantSlabDuo-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quadrant Text';
    src:url('../fonts/quadrant/quadranttext/QuadrantText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quadrant Text';
    src:url('../fonts/quadrant/quadranttext/QuadrantText-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quadrant Text Mono';
    src:url('../fonts/quadrant/quadranttext-mono/QuadrantTextMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quadrant Text Mono';
    src:url('../fonts/quadrant/quadranttext-mono/QuadrantTextMono-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

/* Gothic No. 13 */

@font-face {
    font-family: 'Gothic No. 13';
    src:url('../fonts/gothic-no-13/Gothic No.13.eot') format('embedded-opentype'),
      url('../fonts/gothic-no-13/Gothic No.13 Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Clack */

@font-face {
    font-family: 'Clack';
    src:url('../fonts/clack/Clack-Cursive.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-smooth: antialiased;
}

body {
  font-family: 'Quadrant Text', monospace;
}


header,
footer {
  position: fixed;
  font-family: 'Quadrant Slab Duo', monospace;
  font-size: 1rem;
  margin-right: 1rem;
}

header {
  top: 1rem;
  left: 1rem;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem 1rem 1rem 1rem;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 95%);
}

/* Category Filters */

.filter-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 1.6rem;
  width: fit-content;
}

.filter-container > h4 {
  padding: 0 .2rem 0 .2rem;
}

.filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.25rem;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 0.1rem solid black;
  background-color: inherit;
  background: white;
}

.filter-container input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  font-family: serif;
  font-size: 1.8rem;
  text-align: center;
  margin-top: -0.3rem;
  /* vertical-align: middle; */
  /* position: absolute; */
  display: none;
  z-index: 3;
}

.filter-container input:checked ~ .checkmark:after {
  display: block;
}

.filter-container .checkmark:after {
  /* left: 0.35rem;
  top: 0.35rem;
  width: 0.5rem;
  height: 0.5rem; */
  /* background: black; */
}

.filter-container input:checked {
  text-decoration: line-through;
  color: grey;
}

input:focus + h4 {
  color: var(--red);
  outline: var(--red) solid 1px;
}

input:focus + .checkmark {
  background-color: var(--red);
}

.hide {
  /* display: none; */
  /* max-height: 0; */
  opacity: 0.2;
  filter: blur(0.2rem);
  pointer-events: none;
}

.acknowledgement {
  margin-top: 1rem;
}

.acknowledgement-mobile {
  display: none;
  text-align: center;
  font-family: 'Quadrant Slab Duo', monospace;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto 2rem auto;
}

.about {
  text-align: center;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 65%;
  position: relative;
}

.about p,
#about-pane p,
#about-pane h2 {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/* ABOUT PANE */

/* #about-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: yellow;
  top: 0;
  left: 0;
} */

#about-pane.active {
  right: 0;
  visibility: visible;
}

#about-pane {
  width: calc(100vw / 12 * 8);
  height: 100vh;
  position: fixed;
  top: 0;
  right: calc(-100vw / 12 * 8);
  padding-right: 5rem;
  background: white;
  border-left: 1px solid black;
  z-index: 99;
  transition: visibility linear 0.4s, right ease 0.4s;
  visibility: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: row-reverse;
}

#contributors {
  flex-basis: 30%;
  margin-right: 1rem;
  padding: 1rem;
  flex-grow: 1;
}

#about-text {
  flex-basis: 60%;
  padding: 1rem;
  flex-grow: 1;
  border-left: 1px solid black;
  padding-bottom: 4rem;
}

#about-pane h2 {
  margin-bottom: 1rem;
}

#about-text p+p {
  text-indent: 4rem;
}

#about-pane a {
  display: inline;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  display: inline-block;
}

a:hover,
a:focus {
  color: var(--red);
}

a:focus {
  outline: 1px solid var(--red);
}

a.work:focus,
a.dinner:focus {
  border: 2px solid var(--red);
  outline: none;
}

nav {
  overflow-x: hidden;
}

/* FEED */

#feed {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12rem;
}

.work {
  width: calc(100% / 12 * 3);
  padding: 1rem;
  transition: ease 0.2s;
}

.work.index-1,
.work.index-5,
.work.index-9,
.work.index-13 {
  margin-left: 8.3vw;
}

.work.index-3,
.work.index-7,
.work.index-11,
.work.index-15 {
  margin-left: 16.6vw;
}

.work, .dinner {
  margin-bottom: 3rem;
  border: 2px solid rgba(208,0,0,0);
  border-radius: 1rem;
}

.work figure {
  margin: 1.2rem 0 0 0;
}

figure {
  width: inherit;
  padding: 0 4rem 0 4rem;
  margin: 2rem auto 2rem auto;
  /* padding: 10%; */
  overflow: hidden;
}

img {
  object-fit: contain;
  width: 100%;
}

h2, h3 {
  font-size: 1.429rem;
  font-family: 'Quadrant Text', monospace;
  font-weight: normal;
  line-height: 1.7rem;
  margin-bottom: 0.4rem;
}

h2 {
  text-align: center;
}

h3 {
  font-style: italic;
}

h4 {
  font-size: 1.429rem;
  font-family: 'Gothic No. 13', sans-serif;
  font-weight: normal;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

label h4 {
  margin-bottom: 0px;
}

.date {
  text-align: right;
}

p {
  font-size: inherit;
}

.excerpt {
  margin-top: 1.2rem;
}

/* HOMEPAGE DINNERS */

.dinner {
  width: 100%;
  margin-left: 66.6%;
  padding: 1rem;

}

.dinner h1 {
  font-family: 'Clack', serif;
  font-size: 1.71rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 2rem;
}

.dinner h2, .dinner h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
  line-height: normal;
  font-style: normal;
}

.dinner h2 {
  margin-bottom: 1rem;
}

.dinner h3 {
  text-align: left;
  margin-bottom: 0;
}

.dinner p {
  text-align: justify;
}

.dinner blockquote {
  text-align: center;
}

.dinner h4 {
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: -.5rem;
}

/* CONTENT PANE */

.content-pane.active {
  top: 0;
  visibility: visible;
}

.content {
  width: calc(100% / 12 * 10);
  max-width: 1200px;
  background: #ffffe7;
  height: 100vh;
  overflow-y: scroll;
  z-index: 99;
  padding: 1rem calc(100vw / 12) 12rem calc(100vw / 12 * 2);
  right: 0;
  float: right;
}

.content-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.content-pane {
  position: fixed;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  visibility: hidden;
  transition: visibility 0.5s linear, top 0.5s ease;
}

.content-pane h5 {
  font-size: 1.2rem;
  font-weight: 700;
}

.content-pane h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.subtitle {
  font-family: 'Quadrant Text', monospace;
  font-weight: normal;
  text-transform: none;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

h1[data-font="clack"] {
  font-family: 'Clack', cursive;
  font-weight: normal;
}
[data-font="nimbus-sans-condensed"] {
  font-family: nimbus-sans-condensed, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 5rem;
}

.published, .date {
  font-family: 'Quadrant Slab Duo', monospace;
  text-transform: uppercase;
}

.content-pane blockquote:first-of-type {
  font-family: 'Quadrant Slab Duo', monospace;
  font-style: normal;
  margin-bottom: 2rem;
  line-height: 1.3rem;
}

.content > blockquote {
  font-family: 'Quadrant Slab Duo', monospace;
  font-style: normal;
  line-height: 1.3rem;
  margin: 2rem 3rem 2rem 3rem;
}

blockquote footer {
  position: relative;
  left: inherit;
  right: inherit;
  bottom: inherit;
  text-align: right;
  margin: 1rem 3rem 1rem 3rem;
  padding: 0;
  background: none;
}

blockquote footer::before {
  content: "—";
}

/* AUTHOR NAME(S) */
.author {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  text-align: right;
}

.content-pane p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.content-pane p+p {
  text-indent: 4rem;
}

.content-pane h2 {
  margin: 2rem 0 0 0;
  text-transform: uppercase;
}

.content-pane h6 {
  font-family: 'Quadrant Slab Duo', monospace;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: normal;
  margin: 1rem 0 2rem 0;
}

/* INTERVIEWS */

table {
  font-family: 'Quadrant Slab Duo', monospace;
  font-size: 1rem;
  line-height: 1.4rem;
}

td {
  vertical-align: baseline;
  padding-bottom: 1rem;
  width: 15%;
}

td:first-child {
  width: 15%;
}

td:last-child {
  width: 60%;
}

em {
  font-size: inherit;
  font-style: italic;
}

h5 {
  font-family: nimbus-sans-condensed, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

hr {
  border: none;
  margin: 2.7rem 0 2rem 0;
  text-align: center;

}

hr::after {
  content: '*';
  font-family: 'Quadrant Text', monospace;
  font-size: 2rem;
  font-weight: normal;
}

/* AUDIO EMBEDDER */

audio {
  margin: 3rem 0 3rem 0;
  width: 100%;
}

/* IMAGE GALLERY */

figcaption {
  font-family: 'Quadrant Text Mono', monospace;
  font-size: 0.85rem;
  line-height: 1rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: calc(33% - 1rem) calc(33% - 1rem) calc(33% - 1rem);
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 2rem 0 2rem 0;
  position: relative;
}

.gallery figure {
  width: 100%;
  padding: 0;
  margin: 0;
  /* padding: 10%; */
}

.gallery figcaption {
}

.captions {
  position: absolute;
  transform: translateX(calc(-100vw / 6 + 1rem));
}

.captions figcaption {
  text-align: left;
  margin-bottom: 1rem;
  width: calc(100vw / 12 * 2 - 2rem);
}

/* FOOTNOTES */

.footnotes-list {
  font-family: "Quadrant Text Mono", monospace;
  column-count: 2;
  column-gap: 1rem;
  margin: 0 1rem 0 4rem;
}

.footnotes-list li {
  list-style-position: inside;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.notes-container {
  margin-top: 5rem;
}

.notes-container > hr {
  width: 20%;
  border-top: 2px solid var(--red);
}

.notes-container > hr::after {
  content: "";
}

sup {
  position: relative;
  vertical-align: top;
  top: -0.4rem;

}

sup:hover,
sup:focus {
  border-bottom: 2px solid var(--red);
}

/* BIO */

.bio {
  margin-top: 5rem;
  /* padding: 3rem; */
  font-family: "Quadrant Slab Duo", monospace;
  /* font-style: italic; */
}

.bio > p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.bio > hr {
  border-top: 2px solid var(--red);
  width: 20%;
}

.bio > hr::after {
  content: "";
}

/* DINNER PANES */

.content-pane .dinner-pane {
  background: #ededed;
}

.dinner-pane .published {
  margin-bottom: 4rem;
}

/* SELECTION */

::selection {
  background: var(--red);
  color: var(--bg);
}

/* BREAK POINTS */

@media only screen and (min-width: 1152px) {
  * {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1600px) {
  .content {
    padding: 1rem 6% 1rem 17%;
  }
}

@media only screen and (min-width: 1440px) {
  * {
    font-size: 18px;
  }
}

@media only screen and (max-width: 960px) {
  .work {
    width: calc(100% / 12 * 4);
  }
  .dinner {
    margin-left: calc(100% / 12 * 6)
  }
  #about-pane {
    width: calc(100vw / 12 * 10);
  }
}

@media only screen and (max-width: 1152px) {
  .gallery {
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  }
}

@media only screen and (max-width: 720px) {
  * {
    font-size: 18px;
  }
  .about {
    padding: 2rem;
    max-width: none;
  }
  #about-pane {
    width: calc(100vw / 12 * 10);
    padding-right: calc(100vw / 12 * 1);
    right: calc(-100vw / 12 * 10);
    flex-wrap: wrap;
  }
  #about-text {
    border-left: none;
  }
  .work {
    width: calc(100% / 12 * 10);
  }
  .dinner {
    margin-left: calc(100% / 12 * 2)
  }
  .content {
    width: 100%;
    padding: 1rem 1rem 12rem 1rem;
  }
  .gallery {
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    padding: 1rem 2rem 1rem 2rem;
  }
  .captions {
    position: relative;
    transform: none;
  }
  .captions figcaption {
    width: 100%;
  }
  td:first-child {
    width: 30%;
  }
  .acknowledgement {
    display: none;
  }
  .acknowledgement-mobile {
    display: block;
  }
}
